<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.factopia.member.mapper.MemberMapper">
    <resultMap id="MemberResultMap" type="com.factopia.member.domain.Member">
        <id     property="memberNo" column="m_no" />
        <result property="memberId" column="m_id"/>
        <result property="memberPw" column="m_pw"/>
        <result property="memberName" column="m_name"/>
        <result property="memberPhone" column="m_phone"/>
        <result property="memberEmail" column="m_email"/>
        <result property="memberAuthority" column="m_authority"/>
        <result property="memberRank" column="m_rank_no"/>
        <result property="enterpriseNo" column="e_no"/>
    </resultMap>
    <!-- Create -->
    <insert id="insertMember" parameterType="com.factopia.member.domain.Member" useGeneratedKeys="true" keyProperty="memberNo">
        <selectKey resultType="String" keyProperty="memberNo" order="BEFORE">
            SELECT CONCAT('M', LPAD(IFNULL(MAX(SUBSTRING(m_no, 2)), 0) + 1, 6, '0')) FROM member
        </selectKey>
        INSERT INTO member (m_no, m_id, m_pw, m_name, m_phone, m_email, m_authority, m_rank_no, e_no)
        VALUES (#{memberNo}, #{memberId}, #{memberPw}, #{memberName}, #{memberPhone}, #{memberEmail}, NULL, NULL, NULL)
    </insert>

    <!-- 아이디 중복 검사 -->
    <select id="validateId" resultType="int">
        SELECT COUNT(*) FROM member WHERE m_id = #{memberId}
    </select>

    <!-- 핸드폰번호체크 -->
    <select id="checkMemberPhone" resultType="int">
        SELECT COUNT(*) FROM member WHERE m_phone = #{memberPhone}
    </select>

    <!-- 이메일체크 -->
    <select id="checkMemberEmail" resultType="int">
        SELECT COUNT(*) FROM member WHERE m_email = #{memberEmail}
    </select>

    <!-- 로그인 -->
    <select id="login" resultMap="MemberResultMap">
        SELECT
            m_no,
            m_id,
            m_pw,
            m_name,
            m_phone,
            m_email,
            m_authority,
            m_rank_no,
            e_no
        FROM
            member
        WHERE
            m_id = #{inputMemberId}
            AND
            m_pw = #{inputMemberPw}
    </select>
</mapper>
